{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "env": {
  "node": true,
  "es6": true,
  "browser": true
  },
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": 0
  }
}